<div class="listPick">
  <div>Quality</h5>
  <zingchart id = "quality" zc-json = "myQualityJson" zc-height = 500 zc-width = 600 ></zingchart>
  <div>Buff Watch</h5>
  <zingchart id = "buff" zc-json = "myBuffJson" zc-height = 500 zc-width = 600 ></zingchart>
  <div>Rebuffering Plot</h5>
  <zingchart id = "rebuff" zc-json = "myRebuffJson" zc-height = 500 zc-width = 600 ></zingchart>
  <div>Signal Strength</h5>
  <zingchart id = "strength" zc-json = "myStrengthJson" zc-height = 500 zc-width = 600 ></zingchart>
  </div>
</div>
